<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car Parts</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<section class="container">


    <table class="table text-center table-hover">
        <caption class="text-center" th:text="|${carById.toString()} |">Cars</caption>
        <thead>
        <tr>
            <td>Name</td>
            <td>Price</td>
        </tr>
        </thead>
        <th:block th:each="part,row : ${parts}">
            <tr th:class="${row.even} ? 'table-success' : 'table-info'">
                <td th:text="${part.getName()}"></td>
                <td th:text="${part.getPrice()}"></td>
            </tr>
        </th:block>
    </table>
</section>
</body>
</html>