<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sale</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
</head>
<body>
<section class="container">

    <table class="table text-center table-hover">
        <caption class="text-center">Sale</caption>
        <thead>
        <tr>
            <td>Customer Name</td>
            <td>Car Make</td>
            <td>Car Model</td>
            <td>Car Travel Distance</td>
        </tr>
        </thead>

        <tr th:class="'table-info'">
            <td th:text="${singeSale.getCustomer().getName()}"></td>
            <td th:text="${singeSale.getCar().getMake()}"></td>
            <td th:text="${singeSale.getCar().getModel()}"></td>
            <td th:text="${singeSale.getCar().getTravelledDistance()}"></td>
        </tr>

    </table>
</section>
</body>
</html>
