<div class="mt-5">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Activity</th>
            <th>Activity KPI</th>
            <th>Description</th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody id="table-activities-admin">
        <tr>
            <td>
                <input id="activity-name" type="text" name="activity" class="form-control">
            </td>
            <td>
                <input id="activity-KPI" type="text" name="activity-KPI" class="form-control">
            </td>
            <td>
                <input id="activity-description" type="text" name="activity-description" class="form-control">
            </td>
            <td><a href="#/" class="btn-success" role="button">Create activity</a></td>
        </tr>


        </tbody>
    </table>
</div>