<div class="mt-5">
    <table class="table table-hover table-class-center">
        <thead>
        <tr>
            <th class="text-center">Date</th>
            <th class="text-center">Project</th>
            <th class="text-center">Activity</th>
            <th class="very-fit text-center">Time</th>
            <th class="very-fit text-center">Completed task</th>
            <th class="text-center">Coments</th>
            <th class="text-center">Actions</th>
        </tr>
        <tr id="activity-form" class="text-center">
            <td class="text-center">
                <input id="daily-date" type="date" name="date" class="form-control">
            </td>

            <td class="text-center">
                <select id="selectProject" class="form-control" name="project">
                    <option selected disabled>Select Project</option>
                </select>

            </td>
            <td class="text-center">
                <select id="selectActivity" class="form-control" name="activity">
                    <option selected disabled>Select Activity</option>
                </select>
            </td>
            <td class="text-center">
                <input id="time" type="number" step="0.5" name="time" min="0" max="8" class="form-control">
            </td>
            <td class="text-center">
                <input id="task" type="number" step="1" min="0" name="task" class="form-control">
            </td>
            <td class="text-center">
                <input id="comment" type="text" step="1" min="0" name="comment" class="form-control">
            </td>
            <td class="text-center"><a id="entry-button" href="#/entry/create" class="btn btn-success"
                                       role="button">Create</a></td>
        </tr>
        </thead>
        <tbody id="table-daily">
        </tbody>
    </table>
</div>