<div class="mt-5">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Project</th>
            <th>Description</th>
            <th class="text-center">Actions</th>
        </tr>
        <tr id="project-form">
            <td>
                <input id="project-name" type="text" name="project" class="form-control">
            </td>
            <td>
                <input id="project-description" type="text" name="project-description" class="form-control">
            </td>
            <td><a id="activity-button" href="#/admin/project/create" class="btn btn-success"
                   role="button">Create</a></td>
        </tr>
        </thead>
        <tbody id="table-projects-admin">
        </tbody>
    </table>
</div>